models.zip filter=lfs diff=lfs merge=lfs -text
example_feasible_sampled_scene.pickle filter=lfs diff=lfs merge=lfs -text
render*.blend* filter=lfs diff=lfs merge=lfs -text
target_dataset_grammar_state_dict.torch filter=lfs diff=lfs merge=lfs -text
target_dataset_examples.pickle filter=lfs diff=lfs merge=lfs -text
post_fit_grammar_draws.pickle filter=lfs diff=lfs merge=lfs -text
post_fit_grammar_state_dict.torch filter=lfs diff=lfs merge=lfs -text
pre_fit_grammar_ filter=lfs diff=lfs merge=lfs -text
fit_em_baseline.pickle filter=lfs diff=lfs merge=lfs -text
fit_grammar_baseline.torch filter=lfs diff=lfs merge=lfs -text
structure_constraint_examples.pickle filter=lfs diff=lfs merge=lfs -text
structure_constraint_dataset_grammar_state_dict.torch filter=lfs diff=lfs merge=lfs -text
baseline_pre_fit_grammar_draws.pickle filter=lfs diff=lfs merge=lfs -text
baseline_pre_fit_grammar_state_dict.torch filter=lfs diff=lfs merge=lfs -text
baseline_em_mmds_precomputed.pickle filter=lfs diff=lfs merge=lfs -text
baseline_post_fit_grammar_draws.pickle filter=lfs diff=lfs merge=lfs -text
baseline_post_fit_grammar_state_dict.torch filter=lfs diff=lfs merge=lfs -text
em_mmds_precomputed.pickle filter=lfs diff=lfs merge=lfs -text
